.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0px auto;
    max-width: 1440px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg {
    display: none;
}

.navbar {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navbar a {
    font-size: 16;
    font-weight: 500;
    color: white;
    transition: 1s all ease;
}

.navbar a:hover {
    transition: 1s all ease;
    color: #D68240;
}

.header>a {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #D68240;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .header {
        width: 100%;
        padding: 8px 24px;
        background-color: white;
        max-width: 100%;
        flex-direction: column;
        gap: 16px;
    }

    .navbar {
        flex-direction: column;
        gap: 24px;
    }

    .navbar a {
        color: black;
    }

    .logo {
        width: 100%;
    }

    .logo img {
        object-fit: contain;
        object-position: center center;
    }

    .logo svg {
        display: block;
    }

    .header .navbar,
    .header button {
        display: none;
    }

    .mobile .navbar,
    .mobile>a {
        display: flex;
    }
}