.container {
    padding: 120px 0px;
    width: 75%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0px auto;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.leftTop {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.leftTop p {
    font-size: 16px;
    font-weight: 500;
}

.leftTop div {
    width: 52px;
    height: 2px;
    background-color: #D68240;
    border-radius: 8px;
}

.leftBottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.leftBottom h2 {
    font-size: 36px;
    font-weight: 600;
}

.leftBottom p {
    color: #797B78;
    font-size: 16px;
    font-weight: 500;
}

.container img {
    object-fit: contain;
    object-position: center center;
    border-radius: 4px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
        max-width: 100%;
        flex-direction: column;
        gap: 0px;
    }

    .leftBottom h2 {
        font-size: 28px;
    }

    .container img {
        width: 100%;
    }
}