.container {
    width: 100%;
    background-image: url("../../public/images/opening2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 75%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left div p {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.left div div {
    width: 52px;
    height: 2px;
    background-color: #D68240;
    border-radius: 8px;
}

.left h2 {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.left button {
    border: 1px solid white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.right {
    padding: 102px 79px;
    background-color: #121A1D;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.right div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.right div h3 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.right div p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
}