.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 85%;
    margin: 0px auto;
    padding: 150px 0px;
    max-width: 1440px;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.head h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.head>p {
    font-size: 30px;
    font-family: 700;
    line-height: 70px;
}

.nav {
    display: flex;
    gap: 104px;
    overflow-x: scroll;
    width: 100%;
    justify-content: center;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 16px;
    cursor: pointer;
    transition: 1s all ease;
}

.nav p:hover {
    color: #D68240;
}

.nav .active {
    background-color: #D68240;
    color: white;
    border-radius: 8px;
    transition: 1s all ease;
}

.nav .active:hover {
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    border: 1px solid black;
    border-radius: 13px;
    padding: 46px;
}

.body>p {
    background-color: #D68240;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}

.cont {
    display: grid;
    grid-template-columns: 2fr 2fr;
    row-gap: 50px;
    column-gap: 42px;
}

.single {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 32px;
}

.single div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.single div h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.single div p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.single h3 {
    font-size: 16px;
    color: #D68240;
    font-weight: 500;
    width: fit-content;
}

@media screen and (max-width: 820px) {
    .container {
        width: 90%;
        max-width: 100%;
        gap: 40px;
        padding: 40px 0px;
    }

    .head {
        gap: 20px;
    }

    .head h2 {
        font-size: 32px;
        text-align: center;
    }

    .nav {
        gap: 10px;
    }

    .nav p {
        padding: 10px;
    }

    .body>p {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
    }

    .cont {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .single {
        flex-direction: column;
    }

    .single div h2 {
        font-size: 14px;
    }

    .single div p {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .body {
        padding: 24px;
    }

    .body>p {
        font-size: 16px;
    }

    .head h2 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .nav {
        gap: unset;
        justify-content: space-between;
    }

    .nav p {
        font-size: 14px;
    }

}